{% extends "base.html" %}

{% block html_class %}page-contribute{% endblock %}
{% block body_class %}page-contribute{% endblock %}

{% block title %}Contribute{% endblock %}

{% block searchbar %}{% endblock %}

{% block content %}

    <div class="statistic statistic--about">
        <div class="statistic-welcome statistic-welcome--about">
            <h1>Have a database to add? We'd love to hear from you!</h1>
            <p>DbCAS is a community-driven resource, and we welcome your contributions. If you maintain an alternative-splicing database or know of a resource that is missing from our catalogue, we would be delighted to include it. Please reach out with the database name, link, publication and a brief description, we will add it to DbCAS.</p>
            <p><strong>Upload information for your database:</strong> <a class="contribute-email" href="https://docs.google.com/forms/d/e/1FAIpQLSee_IMs2d_1RSjCkxhbb2Zd6O9Z3h46mPk84H4mBLgdkvSPPQ/viewform?usp=publish-editor" target="_blank" rel="noopener noreferrer">Adding New Database to DbCAS</a></p>
            <p><strong>Contact:</strong> Dr Kif Liakath-Ali</p>
            <p><strong>Email:</strong> <a class="contribute-email" href="mailto:kif.liakath-ali@soton.ac.uk">kif.liakath-ali[at]soton.ac.uk</a></p>
        </div>
    </div>
{% endblock %}
